.container_header {
    width: 100%;
    position: relative;
    height: 50px;
    line-height: 50px;
    text-align: right;
    box-shadow: 1px 1px 1px #888888
}

.container_header h2 {
    position: absolute;
    top: 0%;
    left: 5%;
    color: aliceblue;
    font-family: '楷体';
}

.container_affix {
    position: fixed;
    right: 5%;
    bottom: 7%;
    z-index: 999;
}

.container_body {
    background-color: #edf1f5;
    position: absolute;
    margin: 10px;
    right: 0%;
    top: 52px;
    transition: width 0.2s;
}
.container_body .container_core {
    padding: 10px;
}