.container_header {
    width: 100%;
    position: relative;
    height: 50px;
    line-height: 50px;
    text-align: right;
    box-shadow: 1px 1px 1px #888888
}

.container_header h2 {
    position: absolute;
    top: 0%;
    left: 5%;
    color: aliceblue;
    font-family: '楷体';
}

.container_affix {
    position: fixed;
    right: 5%;
    bottom: 5%;
}

.container_body {
    background-color: #edf1f5;
    padding: 10px;
}